body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e0249;
  color: #fff;
  width: 95%;
  text-align: center;
}

img {
  width: 70%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #a91079;
}

nav {
  display: flex;
  justify-content: space-evenly;
}
